@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-text-primary: #264653;
    --color-text-secondary: #eb5c29;
    --color-text-inactive: #d3d3d3;
    --color-background-primary: #eeece6;
    --color-background-primary-rgb: 238, 236, 230;
}

@layer base {
    // BASE STYLES
    * {
        box-sizing: border-box;
    }

    html {
        font-size: 100%;
    }

    body {
        background-color: var(--color-background-primary);
        min-height: 100vh;

        & main {
            // max-width: 960px;
            // min-width: 350px;
            // width: 80vw;
            // margin-left: auto;
            // margin-right: auto;
        }
    }

    // TEXT STYLES
    h1 {
        font-family: var(--font-corben);
        font-weight: bold;
        color: var(--color-text-secondary);
    }
    h2 {
        font-family: var(--font-corben);
        font-weight: bold;
        color: var(--color-text-secondary);
    }

    h3,
    h4,
    h5,
    h6,
    p,
    a,
    span {
        font-family: var(--font-roboto-flex);
        color: var(--color-text-primary);
        font-weight: 250;
    }

    // ICON STYLES
    svg {
        fill: var(--color-text-primary);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}
