@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-text-primary: #264653;
    --color-text-secondary: #eb5c29;
    --color-text-inactive: #d3d3d3;
    --color-text-inactive-contrast: #9f9a9a;
    --color-background-primary: #eeece6;
    --color-background-primary-rgb: 238, 236, 230;
    --color-white: #ffffff;
}

@layer base {
    // BASE STYLES
    * {
        box-sizing: border-box;
    }

    html {
        font-size: 100%;
        scroll-behavior: smooth;
    }

    body {
        background-color: var(--color-background-primary);
        min-height: 100vh;
    }

    // TEXT STYLES
    h1 {
        font-family: var(--font-corben);
        font-weight: bold;
        color: var(--color-text-secondary);
    }

    h2 {
        font-size: 1.5rem /* 20px */;
        line-height: 1.9rem;
    }

    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    li,
    span {
        font-family: var(--font-roboto-flex);
        color: var(--color-text-primary);
        font-weight: 250;
    }
}

@layer utilities {
    .form-element {
        padding: 0.25rem 0.8rem;
        border-radius: 18px;
        border: transparent 1px solid;
        &::placeholder {
            color: var(--color-text-inactive-contrast);
        }
    }

    textarea {
        resize: none;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}
