.bioPanel__anchor{
    position: absolute;
    top: -66%
}

.bioPanel{
    position: relative;
    height: 70vh;
}

.bioPanel__bio{
    width: 60vw;
    font-size: 1.8vw;
    position: absolute;
    height: 20vw;
    margin-top: 7vw;
    background-color: rgb(238,236,230);
    z-index: 11;
}

.bioPanel__shutter{
    position: absolute;
    height: 10vw;
    margin-top: 30%;
    background-color: rgb(238,236,230);
    z-index: 12;
}

.bioPanel__line{
    height: 5px;
    width: 60vw;
    background-color: #264653;
    margin: 0;
    z-index: 12;
}

@media screen and (max-width: 600px) {
    .bioPanel__anchor{
        top: -63%;
    }

    .bioPanel{
        height: 80vh;
        min-height: 500px;
    }

    .bioPanel__bio{
        font-size: 6vw;
        width: 80vw;
    }

    .bioPanel__shutter{
        margin-top: 100%;
        height: 10vw;
        width: 90vw;
    }

    .bioPanel__line{
        width: 90vw;
    }
}