.landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &__name-container {
        display: flex;
        flex-direction: row;
        padding-left: 5px;

        & h1 {
            font-size: clamp(50px, calc(2rem + 5vw), 200px);
            line-height: calc(2rem + 6vw);
            animation: 1100ms ease-out slideInFromBottom;
            animation-fill-mode: both;
            opacity: 0;

            &:nth-child(1) {
                animation-delay: 50ms;
            }
            &:nth-child(2) {
                animation-delay: 350ms;
            }
        }
    }

    &__shutter {
        height: 25vw;
        width: 100%;
        top: 60%;
        position: absolute;
        background-color: var(--color-background-primary);
        z-index: 10;
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    40% {
        transform: translateY(100%);
    }
    70% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
}
