.button {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background: var(--color-white);
    color: var(--color-text-primary);
    width: fit-content;
    padding: 0.25rem 1.1rem;

    -webkit-transition: color 150ms linear;
    -moz-transition: color 150ms linear;
    -o-transition: color 150ms linear;
    -ms-transition: color 150ms linear;
    transition: color 150ms linear;
    border: 1px solid transparent;

    &--disabled {
        color: var(--color-text-inactive);
    }
    &:hover {
        border: 1px solid var(--color-text-primary);
    }
}
