.line {
    height: 4px;
    width: 100%;
    border-radius: 30px;
    background-color: var(--color-text-primary);
    z-index: 10;
    border: none;
}

@media screen and (max-width: 640px) {
    .line {
        height: 3px;
    }
}
